$el-antrazit: #181c19;
$el-black: #181a18;
$el-dark-black: #000;
$el-orange-light: #FFA500;
$el-sand: #FFF2DC;
$el-red: #E60000;
$el-mint: #00e6e6;
$el-ui-grey-1: #F5F5F5;
$el-ui-grey-2: #ECECEC;
$el-ui-grey-3: #CACACA;
$el-ui-grey-4: #7D7D7D;
$el-ui-grey-5: #343a40;
$el-petrol: #1DA3B6;
$el-ui-green-2: #A7D54C;
$el-green-6: #3F7714;
$el-white: #fff;
$el-blue: #001957;


$container-bg-color: $el-ui-grey-1;

$button-default-text-color: $el-antrazit;
$button-default-bg-color: white;
$button-default-border-color: $el-mint;
$button-default-hover-color: $el-petrol;

$button-primary-bg-color: $el-mint;

$error-color: $el-red;
$error-text-color: white;

$headline-text-color: white;
$inactive-text-color: $el-ui-grey-3;
$default-font-color: $el-antrazit;
